body
{
  overflow-x: hidden;
}

.ondrag .widget {
  border:2px dashed #ccc;

}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.main-content.isOpenTool.switch-on .moduleCategories.isOpenTool
{
  display: none;
}

.ondrag .widget {
  opacity: 0
}
.ondrag::before{
  position: absolute;
  content: '';
  width: calc(100% - 30px);
  height: 100%;
  outline: 2px dashed #ccc;
  background: #dcedf6;
  outline-offset: -4px;

}
